{% block body %}
    <?php
// Start the session
session_start();

?>

    <!doctype html >
    <html class = "no-js" lang = "fr">

    <head>
        <meta charset = "utf-8">
        <title>Hire Xavier now ! :-)</title>
        <meta name = "description" content = "Cette page est la version online du CV de Xavier Monset">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">


        <link rel = "apple-touch-icon" href = "icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link rel = "shortcut icon" href = "favicon.ico" type = "image/x-icon">
        <link rel = "stylesheet" href = "css/normalize.css">
        <link rel = "stylesheet" href = "css/main.css">
        <link rel = "stylesheet" href = "css/xavier.css">


    </head>

    <body>


    <!--[if IE]>      <p class = "browserupgrade">You are using an <strong>outdated</strong> browser.
        Please <a href = "https://browsehappy.com/">upgrade your browser</a> to improve your
        experience and security.</p>

    <![endif]-->

    <!-- La navbar tout en haut  et sticky -->
    <div class = "header">
        <div class = "maBarreDeNavigation" id = "dansMaBarre">
            <a href = "#">
                <img src = "img/icone_xm_vide.png" alt = "Logo Xavier Monset" width = "20"
                     height = "20"></a>
            <a href = "#apropos" onclick = "fermeLeMenu()">A PROPOS</a>
            <a href = "#formation" onclick = "fermeLeMenu()">FORMATION</a>
            <a href = "#competences" onclick = "fermeLeMenu()">COMPÉTENCES</a>
            <a href = "#experiences" onclick = "fermeLeMenu()">EXPERIENCES</a>
            <a href = "#projets" onclick = "fermeLeMenu()">PROJETS</a>
            <a href = "#contact" onclick = "fermeLeMenu()">CONTACTEZ-MOI</a>
            <a href = "javascript:void(0);" class = "icon" onclick = "myFunction()"><img
                        src = "/img/icnoe_vide.png" width = "20" height = "20"
                        alt = "Icone du menu version responsive"></a>


        </div>
    </div>


    <!-- Le message d'accroche -->
    <div class = "accroche">
        <h1>VOTRE DÉVELOPPEUR C++ / JAVA / MOBILE / WEB</h1>
    </div>

    <!-- La première ligne, avec le bloc Photo et la petite histoire -->
    <div class = "lescartes">


        <div class = "photo">
            <div itemscope itemtype = "https://schema.org/Person">
                <h5>INFORMATIONS PERSONNELLES</h5>
                <div>
                    <p><img itemprop = "image" src = "img/Photo_Xavier_Monset_paysage.jpeg"
                            alt = "Photo portrait de Xavier Monset"></p>
                </div>
                <div class = "present">
                    <div class = "rubriques">
                        <p>NOM</p>
                        <p>DATE DE NAISSANCE</p>
                        <p>RÉSIDENCE</p>
                    </div>
                    <div class = "valeurs">
                        <p itemprop = "familyName">Monset Xavier</p>
                        <p itemprop = "birthDate">16 Août 1970</p>
                        <p itemprop = "homeLocation">Nérac, Lot et Garonne</p>
                    </div>
                </div>
                <div class = "icone">
                    <ul>
                        <li>
                            <a href = "https://www.linkedin.com/in/xavier-monset-9587957a/"
                               rel = "noopener" target = "_blank"><img src = "img/icnoe_vide.png"
                                                                       alt = "Icone Linkedin" width = "50"></a>
                        </li>
                        <li>
                            <a href = "https://www.facebook.com/xavier.monset" rel = "noopener"
                               target = "_blank"><img src = "img/icnoe_vide.png" alt = "Icone Facebook"
                                                      width = "50"></a>
                        </li>
                        <li>
                            <a href = "https://twitter.com/CyberXav" rel = "noopener"
                               target = "_blank"><img src = "img/icnoe_vide.png" alt = "Icone Twitter"
                                                      width = "50"></a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>


        <div class = "letexte" id = "apropos">
            <div>
                <h5>A PROPOS DE MOI ... </h5> <br>

                <p>Après avoir passé 10 ans à exercer des tâches de développeur (Création d’outils
                    métier en Php / Mysql, création d’une application mobile sous Android / Kotlin),
                    j’ai entamé une reconversion professionnelle.</p>

                <p>
                    J’ai choisi de solidifier mes compétences informatiques et d’en acquérir de
                    nouvelles ( le web, les méthodes agiles notamment) auprès d’un organisme reconnu
                    pour la qualité de sa formation : l’IUT informatique de Bordeaux-Gradignan. </p>

                <p>J'occupe actuellement un poste de développeur sur systèmes embarqués. Je travaille
                    actuellement sur deux projets complémentaires. Un projet en C++ pour le contrôle du
                hardware, et un projet VueJs/Symfony pour le pilotage de l'application C++ </p>
            </div>
        </div>
    </div>

    <!-- La première paire de carte "qui bougent " -->
    <div class = "unepaire">

        <!-- Carte de gauche -->

        <div class = "unecarte" id = "formation">
            <div class = "audessus" tabindex = "0">
                <div class = "elementgauche">
                    <div class = "front">
                        <h4>FORMATION</h4>
                    </div>
                    <div class = "back">
                        <h4>FORMATION</h4>
                        <br>
                        <ul>
                            <li>2020 - <strong>DUT Informatique</strong></li>
                            <li>1990 - <strong>1° Année DEUG A Math / Physique</strong></li>
                            <li>1989 - <strong>Bac C </strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carte de droite -->
        <div class = "unecarte " id = "competences">
            <div class = "audessus" tabindex = "0">
                <div class = "elementdroit">
                    <div class = "front">
                        <h4>COMPÉTENCES</h4>
                    </div>
                    <div class = "back">

                        <h4>COMPÉTENCES</h4>
                        <br>
                        <ul>
                            <li><strong>Langages</strong>
                                <ul>
                                    <li>C++</li>
                                    <li>Php</li>
                                    <li>Javascript</li>
                                </ul>
                            </li>

                            <li><strong>Web</strong>
                                <ul>
                                    <li>HTML/CSS</li>
                                    <li>VueJs</li>
                                    <li>Symfony</li>
                                </ul>
                            </li>
                            <li><strong>Bases de données</strong>
                                <ul>
                                    <li>MySQL</li>
                                    <li>SQL Server</li>
                                    <li>Oracle</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class = "unepaire">

        <!-- Carte de gauche -->
        <div class = "unecarte" id = "experiences">
            <div class = "audessus" tabindex = "0">
                <div class = "elementgauche">
                    <div class = "front">
                        <h4>EXPÉRIENCES</h4>
                    </div>
                    <div class = "back">
                        <h4>EXPÉRIENCES INFORMATIQUES</h4><br>
                        <ul>
                            <li><strong>2020 Développeur : Agriware</strong>
                                <ul>
                                    <li>Étude et conception modèle de données</li>
                                    <li>Développement C++ système embarqué</li>
                                    <li>Développement Symfony/vueJs</li>
                                </ul>
                            </li>
                            <li><strong>2008 Chargé de gestion informatique : La Queue du
                                    Chat</strong>
                                <ul>
                                    <li>Création d'outils métier (Php / Mysql)</li>
                                    <li>Création d'une application mobile</li>
                                    <li>Adaptation ERP/CRM (Dolibarr, lien vers Prestashop)</li>
                                    <li>Contrôle qualité de la production en Inde</li>
                                </ul>
                            </li>
                            <li><strong>1990 Développeur -Atreid Concept </strong>
                                <ul>
                                    <li>Conversion d'un jeu vidéo (The Brainnies) pour Atari ST</li>
                                </ul>
                            </li>
                        </ul>
                        <br>
                        <h4>AUTRES EXPÉRIENCES</h4><br>
                        <ul>
                            <li><strong>2004 Chargé d'affaires - Concept Ingénierie
                                    Distribution</strong>

                                <ul>
                                    <li>Gestion de projets / Gestion d'équipe</li>
                                    <li>Organsation / Exécution de campagnes de relevés à
                                        l'international
                                    </li>
                                </ul>
                            </li>
                            <li><strong>1992 Chef de rayon frais - Leclerc </strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carte de droite -->
        <div class = "unecarte" id = "projets">
            <div class = "audessus" tabindex = "0">
                <div class = "elementdroit">
                    <div class = "front">
                        <h4>PROJETS</h4>
                    </div>
                    <div class = "back">
                        <h4>PROJETS</h4>
                        <br>
                        <ul>
                            <li><strong>Création d'une application mobile de saisie pour les enseignants de maternelle.
                                    (en cours.) </strong><br>
                                L'application permet à l'enseignant(e) de saisir facilement quand et quelle compétence à
                                été acquis par l'élève,
                                selon le modèle d'évaluation défini. Par la suite, l'enseigant(e) pourra visualiser le
                                parcours d'apprentissage
                                de chaque élève.
                            </li>
                            <li><strong>Création d'une application mobile de partage de position en conditions
                                    dégradées. </strong><br>
                                L'application permet d'envoyer ma position lors de mes sorties en courses natures, et ce
                                même lorsque
                                les conditions de connexions sont dégradées.(Partie mobile : android - kotlin. Partie
                                serveur : Symfony)
                            </li>
                            <li><strong>Création d'une application mobile de gestion de stocks sous
                                    Android. </strong><br>
                                Afin d'améliorer la fiabilité de la gestion de stock, l'application
                                permet de scanner les articles et de
                                mettre à jour
                                le stock de la boutique prestashop. <br>
                                Le projet a été réalisé en Kotlin sous Android pour la partie mobile
                                et en Php pour la partie serveur.
                            </li>

                            <li>
                                <strong>Création d'un jeu type 'Space invaders'.</strong> <br>
                                Dans le cadre d'un projet de l'iut, le jeu a été réalisé en
                                Java.<br>
                                <a rel = "noopener" target = "_blank"
                                   href = "https://gitlab-ce.iut.u-bordeaux.fr/xmonset/space-invader">Cliquez
                                    pour plus d'info.</a>
                            </li>
                            <li><strong> Concours de Code Biosphère </strong><br>
                                Le concours, organisé par l'équipe pédagogique, demandait aux
                                participants de résoudre des problèmes
                                algorithmiques.
                                La réussite d'un niveau, ouvrant la voie au suivant. (Mon classement
                                1 / 143)
                            </li>
                            <li><strong>Nuit de l'info 2019</strong><br>
                                Concours de code nationnal. Participation avec l'équipe de mon
                                groupe. 3° sur le défi 'Gestion d'erreur'.
                            </li>
                            <li><strong>Coding Game : participation régulière à des
                                    challenges</strong><br>
                                Pour accéder à mon profil, cliquez ici : <a rel = "noopener"
                                                                            target = "_blank"
                                                                            href = "https://www.codingame.com/profile/9e1d7074025cb2ae9e7205eab2e715b05711613">Coding
                                    Game</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "contact">

        <form id = "formulaire" action = "valid.php" method = "post" itemscope
              itemtype = "https://schema.org/Person">
            <h3>Merci de saisir ce formulaire pour me contacter</h3>
            <p>Les champs suivis d'une astérisque sont requis</p><br>
            <fieldset>
                <legend>Civilité</legend>
                <ul>
                    <li>

                        <input type = "radio" name = "Civilité" id = "Madame" value = "Madame">
                        <label for = "Madame">Madame </label>
                    </li>

                    <li>
                        <input type = "radio" name = "Civilité" id = "Monsieur" value = "Monsieur">
                        <label for = "Monsieur">Monsieur </label>
                    </li>
                </ul>

            </fieldset>

            <label for = "nom">Nom :<abbr title = "Ce champ est requis">*</abbr> </label>
            <div class = "avecrequis">
                <input itemprop = "familyName" name = "familyName" type = "text" required id = "nom"
                       placeholder = "Votre nom..."><span><img src = "/img/checked_vide.png"
                                                               alt = "Icone indiquant que le champ n'estpas validé"
                                                               width = "30"></span><br>
            </div>

            <label for = "telephone">Téléphone : (format français à 10 chiffres)</label>
            <input itemprop = "telephone" pattern = "[0-9]{10}" type = "tel" name = "telephone"
                   id = "telephone" placeholder = "Votre numéro de téléphonne : 0xxxxxxxxx ..."><br>

            <label for = "email">Email : <abbr
                        title = "Votre adresse e-mail est requise">*</abbr></label>
            <div class = "avecrequis">
                <input itemprop = "email" required type = "email" name = "email" id = "email"
                       placeholder = "Votre adresse e-mail..."><span><img src = "/img/checked_vide.png"
                                                                          alt = "Icone indiquant que si champ est validé"
                                                                          width = "30"></span><br>
            </div>

            <label for = "message">Votre message :</label><br>
            <textarea name = "message" id = "message" cols = "30" rows = "10"
                      placeholder = "Merci de me laisser votre message..."></textarea><br>

            <label for = "captcha">Saisissez le captcha : <abbr
                        title = "Le captcha est nécessaire">*</abbr></label>
            <div class = "avecrequis">
                <input type = "text" name = "captcha" required placeholder = "Le captcha...">
            </div>
            <div class = "pourcaptcha">
                <img class = "captcha" src = "{{ path('capcha') }}" alt = "Le fameux captcha">
            </div>
            <input type = "submit" name = "valider" value = "Envoyer ma demande de contact">


        </form>
    </div>
    <div class = "footer">

        <div>
            <a href = "{{ path('cgv') }}">INFORMATIONS LÉGALES : Que fait-on de mes données ?? (Ce
                site exploite aucun cookie)</a>
        </div>

    </div>

    <!-- les scripts générés par le boiler plate -->

    <script src = "js/vendor/modernizr-3.7.1.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.4.1.min.js"
            integrity = "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin = "anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
    <script src = "js/plugins.js"></script>

    <script src = "js/captcha.js">
    </script>

    <script src = "js/main.js"></script>

    <!-- Ce script est celui que j'ai trouvé sur W3C pour remplacer bootstrap  -->
    <!-- Il n'empêche, j'en ai compris le fonctionnement :
      1 l'icone est caché lorsque le menu est 'large' >> on ne peut pas cliquer dessus >> on active pas le script
      2 Lors de la réduction du menu,'licone apparait et l'on peut dès lors déclencher le script
      3 Lescript récupére l'élément dansMaBarre puis ajoute la classe 'responsive'
      (ou l'enlève si elle y est déja). Ainsi le menu apparait ou n'apparait pas -->


    <script>
        function myFunction() {
            var x = document.getElementById("dansMaBarre");
            if (x.className === "maBarreDeNavigation") {
                x.className += " responsive";
            } else {
                x.className = "maBarreDeNavigation";
            }
        }
    </script>

    <!-- Et celui-ci est de moi. Inspiré de ma compréhension du premier. -->
    <script>
        function fermeLeMenu() {
            var x = document.getElementById("dansMaBarre");
            x.className = "maBarreDeNavigation";

        }
    </script>

    </body>

    </html>

{% endblock %}
