div.principale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.information{

    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#laCarte {

    margin-top: 2em;
    height:400px;
    width: 80%;
    border: black solid 2px ;
    box-shadow: 10px 5px lightgray;
    border-radius: 5px;

}

div.plutontitre {

    width: 100%;
    text-align: center;
}
div.slide {

    border: solid 2px black;
    border-radius: 10px;
    margin : 1em 0.5em 1em 0.5em;
    padding: 3px;
    min-height: 200px;
}

div.leform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    margin: 20px auto;
}
