{% extends 'base.html.twig' %}

{% block title %}Dernière Position Connue{% endblock %}

{% block body %}

    <div class="principale">

        <div id="laCarte"></div>
        <div class="information">
            <div class="heurPos"></div>
            <div class="heurEnr"></div>
        </div>

    </div>
    <script src="{{ asset('/js/carto.js') }}">

    </script>
{% endblock %}
