{% extends 'base.html.twig' %}

{% block title %}Pluton{% endblock %}

{% block body %}

    <div class="plutontitre">
        <h1>Pluton Test</h1>
    </div>

    {% for i in 0..100 %}
        <div class="slide" id="{{ i }}">
            <div class="plutontitre">
                <h2>Slide N° {{ i }}</h2>
            </div>
            <div>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur ex excepturi illo
                    molestiae, nam nesciunt officia provident quam ratione soluta tempora, tempore ullam. Blanditiis
                    eligendi ex illo reiciendis tempora!
                </div>
                <div>Ad asperiores aspernatur consequuntur cum cupiditate deleniti eius et eum, impedit iste itaque iure
                    iusto modi omnis quasi quidem ratione, sapiente sequi sint tempora unde veniam veritatis vero
                    voluptate
                    voluptatibus?
                </div>
                <div>Corporis debitis earum error ex, impedit iste labore laboriosam laudantium modi molestiae nihil
                    nobis
                    nulla obcaecati odit optio perferendis porro possimus rem sapiente, sed sunt tempore totam vel
                    veritatis
                    voluptatem.
                </div>
                <div>A aliquam doloribus hic id laudantium, modi nobis quam quibusdam quis soluta veritatis voluptas
                    voluptatum. Accusamus, delectus dicta facilis ipsa nemo odit quis tempore? Architecto fugiat sed
                    vitae.
                    Delectus, quisquam?
                </div>
                <div>Deserunt dicta dolorum illum itaque rerum! Accusamus aliquam architecto asperiores atque commodi
                    cupiditate dignissimos expedita, harum impedit inventore laborum maxime mollitia nihil nulla optio
                    perferendis quasi quidem rem repudiandae veritatis.
                </div>
            </div>
        </div>
    {% endfor %}

        <script>
            // URL is a built-in JavaScript class to manipulate URLs
            const url = new URL('http://192.168.1.93:3000/.well-known/mercure');
            url.searchParams.append('topic', 'http://127.0.0.1:8001/ping');

            const eventSource = new EventSource(url);
            eventSource.onmessage = event => {
                console.log(JSON.parse(event.data));
                let hash = JSON.parse(event.data);
                location.replace("#" + hash)
            }

        </script>


{% endblock %}
